.bio {
  .bio-inner {
    height: 100%;

    .jenni-cadman {
      margin-top: 18vh;
      padding-right: 12%;

      .image {
        .image-wrapper {
          width: calc(100vw - var(--gutter) * 2);

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            filter: grayscale(1) brightness(1.2) contrast(1.1);
          }
        }
      }
      .credentials {
        flex-basis: 35%;
        .credentials-inner {
          padding-left: var(--gutter);
          padding-top: 1.5rem;
          display: flex;
          justify-content: center;
        }
      }
      .info {
        padding: 1.5rem 0;

        .info-inner {
          p:not(:last-child) {
            margin-bottom: 1em;
          }
        }
      }
    }

    .experience {
      padding-top: 10em;
      padding-bottom: 10em;

      .category {
        flex-direction: column;
        display: flex;

        &:not(:last-child) {
          margin-bottom: 10em;
        }
        .heading {
          width: 50%;
          max-width: 14em;
          margin-bottom: 1.5em;

          h2 {
            max-width: 276px;
          }
        }

        ul {
          li {
            display: flex;
            & > div {
              display: inline-block;
            }

            &:not(:last-child) {
              margin-bottom: 0.5em;
            }

            .date {
              margin-right: 14em;
              width: 2em;
            }
            .details {
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .bio {
    .bio-inner {
      margin: auto;
      .jenni-cadman {
        display: flex;
        // justify-content: center;
        .image {
          display: flex;
          justify-content: flex-end;
          max-width: 450px;
          max-height: 450px;
          flex-basis: 50%;

          .image-wrapper {
          }
        }
        .info {
          flex-basis: 50%;
          max-width: 550px;

          .info-inner {
            padding-left: var(--gutter);
            padding-right: var(--gutter);
          }
        }
      }

      .experience {
        .category {
          display: flex;
          flex-direction: row;

          &:not(:last-child) {
            margin-bottom: 10em;
          }
          .heading {
            width: 50%;
            max-width: 450px;
            h2 {
              max-width: 350px;
            }
          }

          ul {
            width: 36%;
            padding-left: var(--gutter);

            li {
              display: flex;
              & > div {
                display: inline-block;
              }

              &:not(:last-child) {
                margin-bottom: 1em;
              }

              .date {
                margin-right: 4em;
                width: 2em;
              }
              .details {
              }
            }
          }
        }
      }
    }
  }
}
